{\rtf1\ansi\ansicpg1252\cocoartf2868
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 # ===========================\
# Vivado generated directories\
# ===========================\
.Xil/\
.cache/\
.hw/\
.ip_user_files/\
.runs/\
.sim/\
.srcs/sources_1/bd/*/hw_handoff/\
\
# Vivado project cache\
*.cache\
*.hw\
*.runs\
*.sim\
\
# Logs and reports\
*.jou\
*.log\
*.pb\
*.str\
*.rpt\
webtalk*\
usage_statistics_webtalk.*\
\
# Simulation\
xsim.dir/\
*.wdb\
*.vcd\
\
# Generated bitstreams\
*.bit\
*.bin\
*.mcs\
*.ltx\
\
# Checkpoints\
*.dcp\
\
# ===========================\
# Vitis\
# ===========================\
Debug/\
Release/\
RemoteSystemsTempFiles/\
\
.sdk/\
workspace/\
\
*.elf\
*.map\
\
# ===========================\
# OS / Editor\
# ===========================\
.DS_Store\
Thumbs.db}